.container {
  width: 90%;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;}
  h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid pink;
}

th {
  background-color:blue;
  color: white;
  padding: 10px;
}

td {
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

td img {
  width: 80px;
  height: auto;
  border-radius: 8px;
}

textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid red;
  margin-top: 5px;
}
