body{
  margin:0;
  font-family:Arial, sans-serif;
  background-color:whitesmoke;
}

header{
  background-color:dodgerblue;
  color:white;
  padding:15px;
  text-align:center;
}

.container{
  width:80%;
  margin:30px auto;
  background-color:white;
  padding:20px;
  border-radius:8px;
}

h2{
  text-align:center;
  color:black;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

th, td{
  border:1px solid lightgray;
  padding:10px;
  text-align:left;
}

th{
  background-color:dodgerblue;
  color:white;
}
